:root {
	--bg-white-color: #fff;
	--bg-black-color: #000;
	--headline-color: #1d1d1f;
	--link-color: #217ad3;

	--headline-font-size: 48px;
	--subheadline-font-size: 24px;
}

/* ----- Base styles ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 0.8rem;
	font-family: '-apple-system', 'BlinkMacSystemFont', 'sans-serif';
	font-weight: 300;
}
.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
img {
	width: 100%;
}
ul {
	list-style: none;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* ----- HEADER ----- */
header {
	background-color: #333;
	color: rgba(255, 255, 255, 0.705);
	position: fixed;
	width: 100%;
	height: auto;
}
header nav {
	padding: 1em;
}
header nav #primary-nav {
	padding-top: 0;
}
header nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header nav ul li {
	font-size: 1rem;
	margin-bottom: 0;
}
header nav ul li img {
	display: block;
	width: 17px;
	color: #fff;
}
header nav ul li #bag,
header nav ul li #search {
	width: 15px;
}
header #hamburger-menu {
	display: none;
}

/* ------ HERO ------ */
main .hero {
	background: url('./images/Apple-hero.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 98vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main .hero .hero__wrap--content {
	margin-top: 75px;
	text-align: center;
}
main .hero .hero__wrap--content h2 {
	font-size: var(--headline-font-size);
	font-weight: 500;
}
main .hero .hero__wrap--content h3 {
	font-size: var(--subheadline-font-size);
	font-weight: 300;
	margin-bottom: 0.74em;
}
main .hero .hero__wrap--content .hero__wrap--links a {
	color: var(--link-color);
	text-decoration: none;
	font-size: 19px;
	margin-right: 0.7em;
	font-weight: 400;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 967px) {
	header {
		height: 55px;
		border-bottom: 1px solid lightgrey;
	}
	header #hamburger-menu {
		display: block;
	}
	header nav {
		display: none;
	}
	header #hamburger-menu .mobile-menu {
		background-color: #333;
		position: absolute;
		top: 55px;
		width: 100%;
		padding: 1em 1.5em;
		display: none;
	}
	header #hamburger-menu .mobile-menu li {
		cursor: pointer;
		font-size: 1.2rem;
		margin-bottom: 1em;
		padding: 0.5em;
	}
	header #hamburger-menu .mobile-menu li:hover {
		background: black;
		color: #fff;
	}
	.mobile-nav-toggle {
		position: absolute;
		width: 2rem;
		background: url('./images/Icons/hamburger.svg');
		background-repeat: no-repeat;
		aspect-ratio: 1;
		border: 0;
		top: 0.7rem;
		left: 1.5rem;
		cursor: pointer;
	}
}
@media only screen and (max-width: 736px) {
	main .hero {
		background: url('./images/Apple-hero_mobile.jpeg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	main .hero .hero__wrap--content {
		margin-top: 100px;
	}
	main .hero .hero__wrap--content h2 {
		font-size: 32px;
		font-weight: 500;
	}
	main .hero .hero__wrap--content h3 {
		font-size: 19px;
		font-weight: 300;
		margin-bottom: 0.74em;
	}
}
